@model IEnumerable<ImageDetails>
@{
    ViewData["Title"] = "Photos";
}

<h2>Photos</h2>

@if (Model != null)
{
    @foreach (var image in Model)
    {
        <p>Name : @image.Name</p>
        @if (image.RetriveData != null && image.RetriveData.Length > 0)
        {
            <img style="height:100px;width:200px;" src="data:image/png;base64,@Convert.ToBase64String(image.RetriveData)" alt="Image" />
        }
        else
        {
            <span>No Image</span>
        }
    }
}
else
{
    <span>No Image</span>
}
