@model DoctorDetails
@{
    ViewData["Title"] = "Update";
    Layout = "_AdminLayout";
}



<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<div class="form-container">
    <div>
        <h2>Update the Doctor Details</h2>
        <p class="special"><strong>Name : </strong> @Model.Name</p>
        <p class="special"><strong>Phone Number : </strong> <span id="phNo">@Model.PhoneNumber</span></p>
        <p class="special"><strong>Field : </strong> @Model.Field</p>

        <form method="post" id="form">
            <label for="status">Fees:</label>
            <input type="text" class="form-control" id="inputFeesAmount" value="@Model.Fees" placeholder="Enter your fees" pattern="^(?!-0$)([0-9]+(\.[0-9]+)?)$" title="Please enter a positive number" required> <br />

            <label for="status">Availability Status:</label>
            <select class="form-control" id="status" name="status" required>
                <option value="Available">Available</option>
                <option value="Not Available">Not Available</option>
            </select> <br />

            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
    <img src="~/images/update_doc.svg" alt="update img" />
</div>
<script src="~/js/Admin/Update.js"></script>
